/*criar variaveis*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css');

:root{
    --colorPrymary1: #02DDE8;
    --colorPrymary2: #0297F2; 
    --colorPrymary3: #0944DB; 
    --colorPrymary4: #0F02F2; 
    --colorPrymary5: #5D00EB; 
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    color: var(--colorPrymary2);

    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: rgba(180, 180, 180, 0.20);
    border-radius: 10px;
}

.logo {
    width: 10%;
    left: 48%;
    position: absolute;
    top: 8%;
}